@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body;
  }

  *::-webkit-scrollbar {
    width: 10px;
  }

  /* Thiết lập màu cho thumb của scrollbar */
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    @apply bg-gray/300;
  }

  /* Thiết lập kích thước cho thumb của scrollbar */
  *::-webkit-scrollbar-thumb:vertical {
    height: 50px;
  }
}

@layer components {
  .container {
    @apply max-w-container mx-auto;
  }
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1535px) {
  .sidebar-cs
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    transform: translateX(-100%);
    transition: all 0.2s ease-in-out;
  }
}
